body {
    font-family: 'Roboto',  Tahoma, sans-serif;
}
.list {
    list-style: none
}
.link {
    text-decoration: none;
}

/*-------------------------------INDEX----------------------------------*/
/*-------------------------------HEADER---------------------------------*/
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.header-logo:hover, 
.header-logo:focus {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background: #ffffff;
}
.header-logo-web {
    color: #2196F3;
}
.header-logo-studio {
    color: #000000;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-link:hover, 
.header-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background: #ffffff;
    color: #2196F3;
}
.header-gmail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-gmail:hover, .header-gmail:focus, 
.header-tel:hover, .header-tel:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background: #ffffff;
    color: #2196F3;
}
/*-------------------------------MAIN---------------------------------*/
/*---------SECTION-TITLE----------*/
.main-title {
    background: #2F303A;
}
.main-title-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main-title-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
}
.main-title-btn:hover, 
.main-title-btn:focus {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #188CE8;
}
/*---------SECTION-ITEMS------------*/
.main-list-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.main-list-aside {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #757575;
}
/*---------SECTION-WORK-------------*/
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
/*---------SECTION-COMANDS----------*/
.comands {
    background: #F5F4FA;
}
.comands-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.comands-product, 
.comands-frontend, 
.comands-marketing, 
.comands-designer {
    background: #FFFFFF;
}
.comands-item {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.comands-aside {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/*-------------------------------FOOTER---------------------------------*/
.footer {
    background: #2F303A;
}
.footer-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-logo:hover,
.footer-logo:focus {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background: #2F303A;
}
.footer-logo-web {
    color: #2196F3;
}
.footer-logo-studio {
    color: #FFFFFF;
}
.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-map:hover,
.footer-map:focus {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background: #2F303A;
    color: #FFFFFF;
}
.footer-gmail, .footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-gmail:hover,
.footer-gmail:focus,
.footer-tel:hover,
.footer-tel:focus {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
}
/*-------------------------------PORTFOLIO---------------------------------*/
button {
    border: none;
}
.btn-filter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
}
.btn-filter:hover, :focus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
}
.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.filter-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}
