:root {
    --title-text-color: #212121;    
    --accent-color: #2196F3;
    --logo-web: #2196F3;
    --logo-studio-heder: #000000;
    --logo-studio-footor: #FFFFFF;
}
body { 
    font-family: 'Roboto',  Tahoma, sans-serif;
    color: #757575;
}

.list { list-style: none; }
.link { text-decoration: none; }
.btn-text-web {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
}
.btn-text-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/*-------------------------------HEADER---------------------------------*/
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.header-logo:hover, 
.header-logo:focus {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background: #ffffff;
}
.header-logo-web { color: var(--logo-web); }
.header-logo-studio { color: var(--logo-studio-heder); }

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.current {
    color: var(--accent-color);
}
.header-link:hover, 
.header-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background: #ffffff;
    color: var(--accent-color);
}
.header-gmail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-gmail:hover, .header-gmail:focus, 
.header-tel:hover, .header-tel:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background: #ffffff;
    color: var(--accent-color);
}
/*-------------------------------FOOTER---------------------------------*/
.footer { background: #2F303A; }

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-logo:hover,
.footer-logo:focus {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background: #2F303A;
}

.footer-logo-web { color: var(--logo-web);}
.footer-logo-studio { color: var(--logo-studio-footor); }

.footer-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-map:hover,
.footer-map:focus {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background: #2F303A;
    color: var(--accent-color);
}
.footer-gmail,
.footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-gmail:hover,
.footer-gmail:focus,
.footer-tel:hover,
.footer-tel:focus {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background: #2F303A;
    color: var(--accent-color);
}

/*-------------------------------MAIN-STUDIO---------------------------------*/
/*---------SECTION-TITLE----------*/
.main-title {
    background: #2F303A;
}
.main-title-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-btn {
    color: #FFFFFF;
    background: var(--accent-color);
}
.title-btn:hover, 
.title-btn:focus {
    color: #FFFFFF;
    background: #188CE8;
}
/*---------SECTION-ITEMS------------*/
.main-list-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.main-list-aside {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
/*---------SECTION-WORK-------------*/
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
/*---------SECTION-COMANDS----------*/
.comands { background: #F5F4FA; }
.comands-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.comands-wrap { background: #FFFFFF; }
.comands-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.comands-aside {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/*-------------------------------MAIN-PORTFOLIO---------------------------------*/
.btn-filter {
    font-family: 'Roboto';
    color: #212121;
    background: #F5F4FA;
}
.btn-filter:hover, :focus {
    color: #FFFFFF;
    background: var(--accent-color);
}
.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.filter-item {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
